/*powered by ldc4,凌渡辰风。for classweb!*/

a { color: #a6a6a6; text-decoration: none;}a:link{color:#666;}a:visited{color:#666;}a:hover{color:#9C0;}a:active{color:#F00;}
a { transition: All 1s ease; -webkit-transition: All 1s ease; -moz-transition: All 1s ease; -ms-transition: All 1s ease; -o-transition: All 1s ease; }

body{
	background-image: url("../../images/3.png");
}

#head{
	font-size:70px;
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
}
#head span{
	color:#66ccff;
}

#body{
	width:280px;
	margin:0 auto;
	font-size:50px;
}

#main{
	border:1px solid #ccc;
	border-radius:10px;
}